@charset "UTF-8";

body, ul, li, p{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.corpo{
    background:white;
    max-width: 940px;
    margin: 0 auto;
    letter-spacing: .5px;
}
/*Menu*/
.menu{
    background: rgb(102, 191, 221);
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 0 15px;
    font-size: 2em;
    color: white;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.nav ul a{
    display: block;
    margin: 0 10px;
    padding: 10px;
    font-size: .875em;
    background: rgb(64, 178, 216);
    text-transform: uppercase;
}
.nav ul a:hover{
    background: rgb(70, 195, 236);
}
.nav ul li ul{
    display: none;
    position: absolute;
    z-index: 2;
}
.nav ul li:hover ul{
    display: block;
    left: 10px;
}
.nav ul li ul li{
    width: 107px;
    border-radius: 4px;
}
.nav ul li ul li a{
    margin: 0;
}
.nav ul li ul li a:hover{
    background-color: rgb(70, 195, 236);
}
/*Container*/
.container{
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "img descricao"
        "img descricao"
    ;
    gap: 10px;
    align-items: center;
}
.container img{
    max-width: 400px;
}
.conteudo-img{
    grid-area: img;
    margin: 10px 15px;
}
.descricao-img{
    grid-area: descricao;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media (max-width: 640px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "img"
            "descricao"
        ;
    }
    .descricao-img{
        margin-left: 10px;
        max-width: none;
    }
    .descricao-img h2{
        text-align: center;
    }
}
/*Segurança da Informação*/
.seguranca{
    display: flex;
    flex-direction: column;
}
.seguranca h2{
    text-align: center;
}
.seguranca img{
    flex-grow: 1;
    max-width: 500px;
    align-self: center;
}
.seguranca p{
    margin: 10px 15px;
}
/*HardWare*/
.hardware{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "titulo titulo titulo"
        "hard1 hard2 hard3"
        "hard1 hard2 hard3"
    ;
    gap: 10px;
    margin: 10px;
}
.hardware h2{
    grid-area: titulo;
    grid-column: 2;
    justify-self: center;
}
.hardware img{
    max-width: 100%;
}
.hard1 {
    grid-area: hard1;
    border: 5px solid rgb(161, 161, 161);
    background: rgb(161, 161, 161);
}
.hard2{
    grid-area: hard2;
    border: 5px solid rgb(161, 161, 161);
    background: rgb(161, 161, 161);
}
.hard3{
    grid-area: hard3;
    border: 5px solid rgb(161, 161, 161);
    background: rgb(161, 161, 161);
}
@media (max-width: 680px) {
    .hardware{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "titulo titulo"
            "hard1 hard2"
            "hard3 ."
        ;
    }
    .hardware h2{
        grid-column: span 2;
        justify-self: center;
    }
}
@media (max-width: 540px){
    .hardware{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "titulo"
            "hard1"
            "hard2"
            "hard3"
        ;
    }
    .hardware h2{
        justify-self: center;
    }
}
/*Footer*/
.footer{
    background: rgb(102, 191, 221);
    padding: 10px;
    text-align: center;
}
