@charset "UTF-8";

body{
    letter-spacing: .5px;
}
.container-sobre{
    max-width: 960px;
    background: white;
    margin: 0 auto;
    padding: 10px 0;
}
.sobre{
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 10px 10px;
}
.sobre img{
    max-width: 400px;
}
.sobre-descricao{
    flex-direction: column;
    margin-left: 15px;
}
.sobre-descricao p + p{
    margin-top: 10px;
}
@media (max-width: 640px){
    .sobre{
        flex-wrap: wrap;
    }
}